@{
    ViewData["Title"] = "About Us";
}



<div class="who">
    <h1>Just Who Are We?</h1>
    <p>Welcome to Flickr! We're a small (around 10 people), tightly run group focused solely on cataloguing and selling candles.</p>
    <p>We have one goal, and that's to be your one stop for everything candles!</p>
   
</div>

<div class="whatwe">
    <h3>What Do We Do?</h3>
    <p>As you can see, our product here is about organizing all sorts of different candles for you to browse, purchase, and rate. 
    <br>We've just started but our goals are large, and we aim to have every possibly category possible for candles.</p>
</div>

<div class="hq">
    <h3>Headquarters</h3>
    <img src="~/images/bridge.jpg" alt="ambassador bridge"/>
    <p>We're located in the small city of Windsor, Ontario, off of the Central Exit on the 401. <br>
    Our exact address is: [insert address].</p>
</div>

