/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   /*I change the font for the entire page away from the default.*/
}

.who h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /*I select the titles I want to through their classes. In this case I change the h1 on two pages*/
}

.container {        /*I reduce the size of the entire container to make things more pleasant to look at. Also give it a background colour to improve focus*/
    width: 960px;
    background-color: lightskyblue;
}

a.navbar-brand {        /*I initially wanted to change it to be vertical navigation, but was happy with how it looked horizontally.*/
  white-space: normal;
  text-align: center;
  word-break: break-all;
  display: block;
}

a:link {            /*Change the colour of the links as the default did not work well with my chosen background colour.*/
    color: crimson;
}

a:visited {
    color: darkred;
}


li.nav-item {       /*Change the font size and added a border to the navigation items to make them easier to see and click*/
    font-size: 22px;
    font-weight: bold;
    border: 3px solid black;
    margin: 5px;
    font-family: 'Century Gothic';
}

img.logo {      /*Instead of a "home" navigation, I used a created company logo. I kept the logo small and rounded out the edges.*/
    width: 200px;
    height: auto;
    border-radius: 65%;
}

img {       /*to prevent the images in the pages from being too big, I limited how large they can be and also centered them.*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    height: auto;
}

.hq img {       /*I did not want to center this image, so I left aligned it instead. I also reduced it's size.*/
    margin-left: initial;
    max-width: 40%;
}

.homepage { /*centered the text on the home page*/
    text-align: center;
    
}

h3 {
    font-size: 36px;
    font-weight: bold;
}

p {
    font-size: 24px;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
